:root {
  --cor-principal: #6E859F;
  --cor-secundária: #284260;
  --cor-destaque: #c92bfc;
}

body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h5 [
color: var(--cor-secundária);
font-weight: 700;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque);
}
